name: Update the list

on:
  schedule:
    - cron: '00 15 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y libcurl4-openssl-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - run: bundle exec jaza-enkan-list.rb > list.json 
      - uses: actions/upload-artifact@v4
        with:
          path: 'list.json'
          if-no-files-found: error
  push:
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - name: Get retrieved date
        id: date
        run: echo "date=$(jq -r '.retrieved | split("T") | .[0]' list.json)" >> "$GITHUB_OUTPUT"
      - uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79
        with:
          commit_message: 'Dump ${{ steps.date.outputs.date }}'
          branch: master
          file_pattern: 'list.json'
          commit_author: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
